.mission-card {
        background-color: #2196F3;
        margin-bottom: 20px;
        color: white;
        margin: 20px;
    }
    
    .mission-image-container {
        width: 100px;
        height: 100px;
        margin-right: 16px;
    }
    
.mission-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .mat-card-title,
    .mat-card-subtitle {
        color: white;
    }
    
    .mat-card-content,
    .mat-card-actions {
        color: white;
    }
